html {
  min-width: 320px;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body,
button,
input,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

::selection {
  background: #1769ff;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #07111f;
}

::-webkit-scrollbar-thumb {
  background: #263b5e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #365987;
}